<!--template for thumbnail and username label -->

<li class="list-group-item post-item">
    <!-- user thumbnail and username label-->
    <div class="d-flex align-items-center mb-2">
        <a href="{{ url_for('users.user_profile', user_id=post.user.id) }}"
            style="text-decoration: none; color: inherit;">
            <img src="{{ post.user.profile_img }}" alt="{{ post.user.username }}"
                class="rounded-circle me-2 post-thumbnail">
            <strong>{{ post.user.username }}</strong>
        </a>
    </div>

    <!-- post image -->
    <a href="{{ url_for('posts.show_post', post_id=post.id) }}" class="d-flex flex-column align-items-center">
        <div class="home-image-wrapper">
            <img src="{{ post.image }}" alt="Post Image" class="post-image">
        </div>
    </a>

    <!-- post description + timestamp -->
    <div class="post-content d-flex justify-content-between align-items-center mt-2">
        <p class="post-description mb-0">{{ post.description }}</p>
        <span class="text-muted small timestamp">{{ post.timestamp.strftime('%d %B %Y') }}</span>
    </div>
</li>