<!--user login form-->

{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-11 col-md-8 col-lg-6">
        <h2 class="login_message">Log In</h2>
        <form method="POST" enctype="multipart/form-data" id="user_form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class_="form-control mb-3") }}
            {% endfor %}

            <button type="submit" class="btn btn-outline-primary">Log In</button>
        </form>
    </div>
</div>

{% endblock %}